/* GENERAL/RESETS */

body {
padding-top: 20px;
font: 16px/1.1 "Work Sans", Verdana, sans-serif;
color: #7f7f79;
}

ul {
padding: 0;
margin: 0;
} 

.img-responsive {
width: 100%;
}

.row {
width: 100%;
margin: 0;
}

[class*="col"] {
padding: 0 !important;
} 



/* FONTS */

h1 {
font-weight: 100 !important;
font-size: 40px;
margin: 0;
}

h1, h2 {
letter-spacing: 1px;
}

h2 {
text-transform: capitalize;
margin-top: 40px;
margin-bottom: 10px;
color: #bababa;
}

h2, h3 {
font-weight: 400;
}

h3 {
font-size: 25px;
margin-top: 10px;
margin-bottom: 30px;
}

h3, .headline, .sidebar p {
text-transform: uppercase;
}

h2, .headline, .sidebar ul, .featured-box figure {
text-align: center;
}

p {
margin-top: 5px;
}



/* HEADER */

.logo {
float: none;
margin: 0 auto 10px;
max-width: 80px;
}

.logo img {
border: 7px solid #f8981c;
}

.headline {
border-bottom: 4px solid #ccc;
margin-bottom: 30px;
}



/* SIDEBAR */

.sidebar ul li {
display: inline-block;
margin: 0 4%;
width: 65px;
color: #1a1a1a;
}

.sidebar ul:first-child li {
height: 65px;
}

.sidebar ul:first-child li:first-child {
background-color: #f8981c;
}

.sidebar ul:first-child li:nth-child(2) {
background-color: #babbbb;
}

.sidebar ul:first-child li:last-child {
background-color: #747704;
}



/* FEATURED */

.featured-box figure:last-child {
margin-right: 0;
}

.featured-photo {
position: relative;
width: 100%;
overflow: hidden;
}

.featured-photo:before {
content: "";
display: block;
padding-top: 60%;
}

.featured-photo img {
position: absolute;
bottom: -10%;
}






@media screen and (min-width: 470px) {
   
h2 {
font-size: 35px;
}
    
h2, .sidebar ul {
text-align: left;
}
    
.headline {
float: right !important;
clear: both;
text-align: right;
}

.logo {
float: left;
margin-left: 2px;
}

.name {
float: right;
margin-right: 2px;
}

.name, .main-box {
width: 83.333%;
}

.sidebar ul li {
display: block;
}

}




@media (min-width: 470px) and (max-width: 767px) {

.logo, .sidebar {
width: 16.666%;
}
    
.logo {
max-width: 65px;
}

.name, .main-box {
width: 83.333%;
}

.main-box {
margin-left: 16.666%;
}

.sidebar {
position: absolute;
float: left;
}

.sidebar ul:first-child li {
margin: 0 auto 13px 0;
}

.sidebar ul:last-child li,
.sidebar ul:last-child li p {
margin: 0 auto 0 0;
}

}




@media screen and (min-width: 768px) {

body {
font-size: 20px;
}
    
.container-fluid {
max-width: 1170px;
}

h1 {
font-size: 60px;
margin-bottom: 5px;
}
    
h2 {
margin-left: 10px;
}

h3 {
font-size: 40px;
}

.headline {
padding: 15px 0 5px !important;
}

.logo {
max-width: 95px;
}

.sidebar, .main-box, .submain figure {
position: relative;
}

.main-box {
width: initial;
margin: initial;
width: 100%;
overflow: hidden;
}

.main-box:before {
content: "";
display: block;
padding-top: 60%;
}

.main-box img {
position: absolute;
top: 0;
}

.sidebar ul li {
width: 80px;
}

.sidebar ul:first-child li {
height: 80px;
margin: 0 auto 13px;
}

.sidebar ul:last-child {
margin: 40px auto 0;
}

.sidebar ul:last-child li,
.sidebar ul:last-child li p {
margin: 0 auto;
}

.featured-box figure {
width: calc((100% - 20px)/3);
display: inline-block;
margin-right: 10px;
}

}